---
import iconClock from '../assets/images/icon-clock.svg';
import iconEthereum from '../assets/images/icon-ethereum.svg';
import iconView from '../assets/images/icon-view.svg';

const { title, info, price, time, nameAvatar, imgNft, imgAvatar } = Astro.props;
---

<main class="w-[20.4375rem] lg:w-[21.8750rem] h-[33.9375rem] lg:h-[37.2500rem] flex flex-col items-start justify-start p-6 bg-Very-Dark-Blue-(card-BG) rounded-[0.9375rem] shadow-card-shadow">
    <picture class="size-[17.3750rem] lg:size-[18.8750rem] relative mb-6">
        <img src={imgNft} alt="image nft" class="size-full rounded-lg">
        <div class="size-full absolute top-0 left-0 rounded-lg duration-300 flex items-center justify-center mix-blend-normal cursor-pointer hover:bg-Cyan-(img-BG)">
            <img src={iconView.src} alt="icon view" id="view" class="size-12 opacity-0 duration-500">
        </div>
    </picture>
    <h1 class="w-[17.3750rem] lg:w-[18.8750rem] h-7 text-left font-semibold text-[1.3750rem] tracking-normal leading-auto text-White mb-3 lg:mb-4 cursor-pointer duration-300 hover:text-Cyan">{title}</h1>
    <p class="w-[17.3750rem] lg:w-[18.8750rem] h-[3.2500rem] text-left font-light text-[1.1250rem] tracking-normal leading-[1.6250rem] text-Soft-Blue mb-4 lg:mb-6">{info}</p>
    <section class="w-[17.3750rem] lg:w-auto h-[1.1875rem] lg:h-[1.2500rem] flex justify-start items-center gap-[6.0625rem] lg:gap-[6.8750rem] mb-4 lg:mb-6">
        <article class="w-[5.53rem] lg:w-auto h-[1.1875rem] lg:h-[1.2500rem] flex justify-start items-center gap-[0.3750rem]">
            <img src={iconEthereum.src} alt="icon ethereum">
            <h2 class="w-[4.3750rem] lg:w-auto h-[1.1875rem] lg:h-[1.2500rem] font-semibold text-[0.9375rem] lg:text-[1.0000rem] text-left tracking-normal leading-auto text-Cyan">{price}</h2>
        </article>
        <article class="w-[5.793125rem] lg:w-auto h-[1.1875rem] lg:h-[1.2500rem] flex items-center justify-start gap-2">
            <img src={iconClock.src} alt="icon clock" class="size-4">
            <h2 class="w-[4.2500rem] lg:w-[4.5625rem] h-[1.1875rem] lg:h-[1.2500rem] font-normal text-[0.9375rem] lg:text-[1.0000rem] text-left tracking-normal leading-auto text-Soft-Blue">{time}</h2>
        </article>
    </section>
    <hr class="w-[17.3750rem] lg:w-[18.8750rem] h-[0.0625rem] border-none bg-Very-Dark-Blue-(line) mb-4" />
    <section class="w-[13.6875rem] lg:w-[14.3750rem] h-[2.0625rem] flex items-center justify-start gap-4">
        <picture class="size-[2.0625rem]">
            <img src={imgAvatar} alt="image avatar" class="size-full border-solid rounded-[100%] border-White border-[0.0625rem]">
        </picture>
        <h3 class="w-[10.6250rem] lg:w-[11.3125rem] h-[1.1875rem] lg:h-[1.2500rem] flex items-center justify-start gap-[0.3125rem] font-normal text-[0.9375rem] lg:text-[1.0000rem] text-left tracking-normal leading-auto text-Soft-Blue">
            Creation of 
            <span class="font-normal text-[0.9375rem] lg:text-[1.0000rem] text-left tracking-normal leading-auto text-White cursor-pointer duration-300 hover:text-Cyan">
                {nameAvatar}
            </span>
        </h3>
    </section>
</main>

<script>
    const element = document.querySelector('div'),
          iconView = document.querySelector('#view');

    element.addEventListener('mouseover', () => iconView.classList.remove('opacity-0'));
    element.addEventListener('mouseout', () => iconView.classList.add('opacity-0'));
</script>